@import url(style.css);

body {
    background: var(--roxo);
    color: var(--branco);
}

.code {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}

.code-descricao {
    margin: 5px;
}

.code-descricao-titulo {
    font-size: 2em;
    font-weight: 800;
}

.code-descricao-texto {
    font-size: 1.25em;
    max-width: 800px;
}

.code-comandos {
    margin: 15px 0;
}

.btn-code {
    padding: 5px 20px;
    border-radius: 5px;
    background: var(--verde);
    color: var(--light);
}

.btn-code:hover {
    animation: ease-in 1s;
    background: var(--vermelho);
    box-shadow: 0px 0px 15px var(--vermelho);
}

.btn-code-descricao {
    font-size: 0.75em;
    margin-top: 15px;
}

.box-code {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & p {
        text-align: center;
    }
}

.box-code img {
    padding: 15px;
    border: 1px solid var(--azul);
    border-radius: 5px;
    margin-bottom: 10px;
}

.box-code img:hover{
    border: 1px solid var(--verde);
}

@media (max-width: 768px) {
    .code {
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }
}

@media screen and (prefers-color-scheme: dark) {
    body {
        background: var(--dark);
    }

    .btn-code {
        background: var(--roxo);
        color: var(--light);
    }

    .btn-code:hover {
        background: var(--azul);
        box-shadow: 0px 0px 15px var(--azul);
    }
}